    <footer class="footer">
        <div class="footer__inner">
            <div class="footer__grid">
                <div class="footer__logo-item">
                    <div class="footer__logo-container">
                        <a href="#" class="footer__logo">
                            <img src="assets/img/logo.svg" alt="">
                        </a>
                        <p class="footer__copyright">© 2010-2022 Cтокер</p>

                    </div>
                    
                    <div class="footer__soc-links">
                        <a href="#">
                            <img src="assets/img/icons/vk.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/img/icons/facebook.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/img/icons/instagram.svg" alt="">
                        </a>
                        <a href="#">
                            <img src="assets/img/icons/youtube.svg" alt="">
                        </a>
                    </div> 
                </div>
                <div class="footer__info-links-item">
                    <h3 class="footer__list-title">Информация</h3>
                    <ul class="footer__links">
                        <li><a href="#">Как оформить заказ</a></li>
                        <li><a href="#">Заказ</a></li>
                        <li><a href="#">Доставка и оплата</a></li>
                        <li><a href="#">Обмен и возврат</a></li>
                        <li><a href="#">Таблица размеров</a></li>
                        
                    </ul>
                </div>
                <div class="footer__rules-links-item">
                    <h3 class="footer__list-title">Правила</h3>
                    <ul class="footer__links">
                        <li><a href="#">Условия и положения</a></li>
                        <li><a href="#">Политика конфиденциальности</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Соглашение между покупателем и продавцом</a></li>
                        <li><a href="#">Возврат</a></li>
                        <li><a href="#">Правила и условия рассылки</a></li>
                    </ul>
                </div>

                <div class="footer__contacts-item">
                    <h3 class="footer__list-title">Контакты</h3>
                    <ul class="footer__links">
                        <li><a href="#">Магазины</a></li>
                        <li><a href="#">Написать нам</a></li>                        
                    </ul>
                                    
                </div>

                <div class="footer__soc-links">
                    <a href="#">
                        <img src="assets/img/icons/vk.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/img/icons/facebook.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/img/icons/instagram.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/img/icons/youtube.svg" alt="">
                    </a>
                </div>   
                
                
            </div>
        </div>
    </footer>